<div id="component-preview">
  {{!> example-output }}
  <script>
  window.addEventListener('load', function () {
    function _interopRequireDefault(obj) {
        return obj && obj.__esModule ? obj : {
            'default': obj
        };
    }
    require('react-dom').render(_interopRequireDefault(require('example')).default,document.getElementById('component-preview'));
  });
  </script>
</div>
